# Workspaces
/.vs

# Build files. Must be published in Releases
/.cache
/build*
/cmake-build*
/compile_commands.json

# IDE files
/.idea
/.PVS-Studio
/CMakeUserPresets.json

# AI agents & MCP servers
.claude*
.codebase*
.codex*
